
.tableContainer{
    margin-top: 20px;
}

.addPlanContainer{
    width: 100%;
}

.btnContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.serviceIncludeContainer{
    .tableContainer{
        height: 250px;
        overflow-y: auto;
    }
}